.hidden
{
	display: none;
}

 /*fonts in use are temporary */

 /*colours used are also just temporary*/

body
{
	
	font-family: arial;
	
}

.container
{
	
	text-align: center;
	padding: 10px;
	background-color: #1ecbe1;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	
}

.mainHeader
{
	font-weight: bold;
}

.welcomeText
{
	margin-top: 10px;
}